---
http_interactions:
- request:
    method: get
    uri: https://api.zoomeye.org/host/search?query=port:80%20nginx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5305aa127d157cd6688381d74f5a5f7a3249beb"
      X-Cdn-Edge:
      - 73d7818,-
    body:
      encoding: ASCII-8BIT
      string: '{"total": 300524120, "available": 300524120, "matches": [{"protocol":
        {"application": "HTTP", "probe": "GetRequest", "transport": "tcp"}, "timestamp":
        "2021-04-24T10:05:00", "jarm": "", "portinfo": {"extrainfo": "", "port": 27016,
        "rdns": "", "service": "http", "title": ["400 The plain HTTP request was sent
        to HTTPS port"], "hostname": "", "version": "1.16.1", "device": "", "os":
        "", "app": "nginx", "banner": "HTTP/1.1 400 Bad Request\r\nServer: nginx/1.16.1\r\nDate:
        Sat, 24 Apr 2021 02:04:53 GMT\r\nContent-Type: text/html\r\nContent-Length:
        255\r\nConnection: close\r\n\r\n<html>\r\n<head><title>400 The plain HTTP
        request was sent to HTTPS port</title></head>\r\n<body>\r\n<center><h1>400
        Bad Request</h1></center>\r\n<center>The plain HTTP request was sent to HTTPS
        port</center>\r\n<hr><center>nginx/1.16.1</center>\r\n</body>\r\n</html>\r\n"},
        "ico": {"mmh3": "", "md5": ""}, "txtfile": {"securitymd5": "", "robotsmd5":
        ""}, "ip": "93.178.25.159", "geoinfo": {"organization_CN": null, "aso": null,
        "continent": {"geoname_id": null, "code": "AP", "names": {"zh-CN": "\u4e9a\u6d32",
        "en": "Asia"}}, "city": {"geoname_id": null, "names": {"zh-CN": "", "en":
        ""}}, "country": {"geoname_id": null, "code": "SA", "names": {"zh-CN": "\u6c99\u7279\u963f\u62c9\u4f2f",
        "en": "Saudi Arabia"}}, "isp": "zain.com", "asn": "43766", "subdivisions":
        {"geoname_id": null, "code": null, "names": {"zh-CN": "Unknown", "en": "Unknown"}},
        "location": {"lat": "24.26119", "lon": "45.120331"}, "PoweredBy": "IPIP",
        "organization": null, "base_station": "", "idc": ""}, "honeypot": 0}, {"rdns_new":
        "ec2-54-252-210-81.ap-southeast-2.compute.amazonaws.com", "timestamp": "2021-04-24T10:04:54",
        "jarm": "", "portinfo": {"extrainfo": "", "port": 5984, "rdns": "", "service":
        "https", "title": null, "hostname": "", "version": "", "device": "", "os":
        "", "app": "AVM FRITZ!Box", "banner": "HTTP/1.0 200 OK\r\nDate: Sat, 24 Apr
        2021 02:04:47 GMT\r\nX-Powered-By: PHP/5.4.45\r\nServer: dcv 2wire Gateway
        4D_WebSTAR_S/5.0 4D_WebSTAR_S/5.102.1 5.1.2600 2/Ser[...]
