---
http_interactions:
  - request:
      method: post
      uri: https://api.zoomeye.org/user/login
      body:
        encoding: UTF-8
        string: '{"username":"<CENSORED>","password":"<CENSORED>"}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - db73f2c,-
      body:
        encoding: UTF-8
        string: '{"access_token": "<CENSORED>"}'
    recorded_at: Wed, 16 Oct 2019 04:22:30 GMT
  - request:
      method: get
      uri: https://api.zoomeye.org/host/search?facets=app,os&page=1&query=wordpress
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT <CENSORED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"8ad77e52b65c572dee76e4ffd580f091a00d7af1"
        X-Cdn-Edge:
          - db73f2c,-
      body:
        encoding: ASCII-8BIT
        string:
          '{"total": 2110667, "available": 422133, "matches": [{"protocol": {"application":
          "HTTP", "probe": "GetRequest", "transport": "tcp"}, "ip": "212.62.104.116",
          "timestamp": "2019-10-16T12:16:57", "geoinfo": {"organization_CN": null, "aso":
          null, "continent": {"geoname_id": null, "code": "AP", "names": {"zh-CN": "\u4e9a\u6d32",
          "en": "Asia"}}, "city": {"geoname_id": null, "names": {"zh-CN": "", "en":
          ""}}, "country": {"geoname_id": null, "code": "SA", "names": {"zh-CN": "\u6c99\u7279\u963f\u62c9\u4f2f",
          "en": "Saudi Arabia"}}, "isp": "zain.com", "asn": "43766", "subdivisions":
          {"geoname_id": null, "code": null, "names": {"zh-CN": "\u6c99\u7279\u963f\u62c9\u4f2f",
          "en": "Saudi Arabia"}}, "location": {"lat": "24.261190", "lon": "45.120331"},
          "PoweredBy": "IPIP", "organization": null, "base_station": "", "idc": ""},
          "portinfo": {"hostname": "", "service": "http", "title": null, "extrainfo":
          "(Win64) OpenSSL/1.0.2r PHP/7.1.28", "version": "2.4.39", "device": "", "os":
          "", "port": 2160, "app": "Apache httpd", "banner": "HTTP/1.0 301 Moved Permanently\r\nDate:
          Wed, 16 Oct 2019 04:16:50 GMT\r\nServer: Apache/2.4.39 (Win64) OpenSSL/1.0.2r
          PHP/7.1.28\r\nX-Powered-By: PHP/7.1.28\r\nX-Redirect-By: WordPress\r\nLocation:
          http:///\r\nContent-Length: 0\r\nConnection: close\r\nContent-Type: text/html;
          charset=UTF-8\r\n\r\n\n\n\n"}}, {"geoinfo": {"city": {"geoname_id": null,
          "names": {"zh-CN": "", "en": ""}}, "country": {"geoname_id": null, "code":
          "PL", "names": {"zh-CN": "\u6ce2\u5170", "en": "Poland"}}, "isp": "3s.pl",
          "continent": {"geoname_id": null, "code": "EU", "names": {"zh-CN": "\u6b27\u6d32",
          "en": "Europe"}}, "subdivisions": {"geoname_id": null, "code": null, "names":
          {"zh-CN": "\u6ce2\u5170", "en": "Poland"}}, "location": {"lat": "52.409000",
          "lon": "16.938200"}, "organization": null, "aso": null, "asn": "31242", "base_station":
          "", "idc": "", "PoweredBy": "IPIP", "organization_CN": null}, "ip": "93.179.233.7",
          "portinfo": {"extrainfo": "", "service": "http", "hostname": "", "version":
          "", "device": "", "os": "", "port": 8008, "title": "301 Moved Permanently",
          "app": "Apache httpd", "banner": "HTTP/1.1 301 Moved Permanently\r\nDate:
          Wed, 16 Oct 2019 04:09:14 GMT\r\nServer: Apache\r\nLocation: https://www.salesmanago.pl\r\nCache-Control:
          max-age=0\r\nExpires: Wed, 16 Oct 2019 04:09:14 GMT\r\nContent-Length: 234\r\nConnection:
          close\r\nContent-Type: text/html; charset=iso-8859-1\r\n\r\n<!DOCTYPE HTML
          PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>301 Moved Permanently</title>\n</head><body>\n<h1>Moved
          Permanently</h1>\n<p>The document has moved <a href=\"https://www.salesmanago.pl\">here</a>.</p>\n</body></html>\n\nHttp
          response from 302 moved url https://www.salesmanago.pl:\nServer: Apache\nCache-Control:
          max-age=3600\nLink: <https://www.salesmanago.pl/wp-json/>; rel=\"https://api.w.org/\"\nAge:
          1446\nContent-Type: text/html; charset=UTF-8\nDate: Wed, 16 Oct 2019 03:45:12
          GMT\nSet-Cookie: SERVERID=B; path=/\nVary: Accept-Encoding\n\n<!DOCTYPE html>\r\n<html
          lang=\"pl\">\r\n<head>\r\n    <meta http-equiv=\"Content-Type\" content=\"text/html;
          charset=utf-8\"/>\r\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta
          content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\"
          name=\"viewport\"/>\r\n    <title>Marketing Automation &amp; E-mail Marketing
          | SALESmanago</title>\r\n    <meta property=\"og:title\" content=\"Marketing
          Automation &amp; E-mail Marketing | SALESmanago\"/>\r\n    <meta property=\"og:type\"
          content=\"website\"/>\r\n    <meta name=\"description\" content=\"SALESmanago
          - platforma marketing automation, kt\u00f3ra pozwala zwi\u0119ksza\u0107 przychody
          firm poprzez dostarczanie spersonalizowanych ofert we wszystkich kana\u0142ach
          marketingowych.\" />\r\n    <meta property=\"og:description\" content=\"SALESmanago
          - platforma marketing automation, kt\u00f3ra pozwala zwi\u0119ksza\u0107 przychody
          firm poprzez dostarczanie spersonalizowanych ofert we wszystkich kana\u0142ach
          marketingowych.\"/>\r\n    <meta property=\"og:image\" content=\"https://www.salesmanago.pl/wp-content/themes/salesmanago.pl/images/sm/ogimage_pl.png\"/>\r\n    <link
          rel=\"shortcut icon\" href=\"https://www.salesmanago.pl/wp-content/themes/salesmanago.pl/favicon.ico\"
          type=\"image/x-icon\">\r\n    <link rel=\"icon\" href=\"https://www.salesmanago.pl/wp-content/themes/salesmanago.pl/favicon.ico\"
          type=\"image/x-icon\">\r\n    <link rel=\"manifest\" href=\"/manifest.json\"
          />\r\n    <meta name=\"Keywords\" content=\"Marketing Automation, Email Marketing,
          Website Marketing, Social Media Marketing, Mobile Marketing Automation, B2B,
          B2C, eCommerce, Spersonalizowane tre\u015bci,platforma ecommerce, mailingi,
          inbound marketing, outbound marketing\">\r\n    <meta name=\"msvalidate.01\"
          content=\"37D0531AF227E3A03DAC1E0FFF991006\"/>\r\n    <meta name=\"google-site-verification\"
          content=\"_VSQEw9cC87wUgkveOlS9_CeTbwRxBy9fmzJBwqz0xk\" />\r\n    <!-- smartbanner
          -->\r\n    <meta name=\"apple-itunes-app\" content=\"app-id=1147226852\">\r\n    <meta
          name=\"google-play-app\" content=\"app-id=com.salesmanago.app\">\r\n    <link
          rel=''dns-prefetch'' href=''//s.w.org'' />\n<link rel=''stylesheet'' id=''fonts-css''  href=''https://www.salesmanago.pl/wp-content/themes/salesmanago.pl/fonts/fonts.css?ver=4.9.8''
          type=''text/css'' media=''all'' />\n<link rel=''https://api.w.org/'' href=''https://www.salesmanago.pl/wp-json/''
          />\n<meta name=\"generator\" content=\"WordPress 4.9.8\" />\n\t\t<style type=\"text/css\">.recentcomments
          a{display:inline !important;padding:0 !important;margin:0 !important;}</style>\n\t\t\r\n    <link
          rel=\"canonical\" href=\"https://www.salesmanago.pl/\" />\r\n    <link rel=\"alternate\"
          href=\"https://www.salesmanago.pl\" hreflang=\"pl\">\r\n    <link rel=\"alternate\"
          href=\"https://www.salesmanago.com\" hreflang=\"en\">\r\n    <link rel=\"alternate\"
          href=\"https://www.salesmanago.de\" hreflang=\"de-DE\">\r\n    <link rel=\"alternate\"
          href=\"https://www.salesmanago.es\" hreflang=\"es-ES\">\r\n\r\n    <link rel=\"stylesheet\"
          href=\"https://www.salesmanago.pl/wp-content/themes/salesmanago.pl/homepage/dist/css/styles.min.css?33\">\r\n    <!--[if
          IE]>\r\n    <script type=\"text/javascript\">\r\n        var console = {\r\n            log:
          function () {\r\n            }\r\n        };\r\n    </script>\r\n    <![endif]-->\r\n    <!--[if
          lt IE 9]>\r\n    <script src=\"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js\"></script>\r\n    <script
          src=\"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js\"></script>\r\n    <![endif]-->\r\n    <style>.async-hide
          { opacity: 0 !important} </style>\r\n<script>(function(a,s,y,n,c,h,i,d,e){s.className+=''
          ''+y;h.start=1*new Date;\r\nh.end=i=function(){s.className=s.className.replace(RegExp(''
          ?''+y),'''')};\r\n(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;\r\n})(window,document.documentElement,''async-hide'',''dataLayer'',4000,\r\n{''GTM-WN346W'':true});</script>\r\n<!--
          Google Tag Manager -->\r\n<noscript>\r\n    <iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-WN346W\"\r\n            height=\"0\"
          width=\"0\" style=\"display:none;visibility:hidden\"></iframe>\r\n</noscript>\r\n<script>(function
          (w, d, s, l, i) {\r\n        w[l] = w[l] || [];\r\n        w[l].push({''gtm.start'':
          new Date().getTime(), event: ''gtm.js''});\r\n        var f = d.getElementsByTagName(s)[0],\r\n            j
          = d.createElement(s), dl = l != ''dataLayer'' ? ''&l='' + l : '''';\r\n        j.a[...]
