---
http_interactions:
- request:
    method: get
    uri: https://api.zoomeye.org/resources-info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"fbdeea508a21ad89c7d1206a0b1a1def90a312fa"'
      X-Cdn-Edge:
      - 73d7818,-
    body:
      encoding: UTF-8
      string: '{"plan": "user", "resources": {"search": 9960, "stats": 100, "interval":
        "month"}}'
  recorded_at: Sat, 24 Apr 2021 02:06:15 GMT
recorded_with: VCR 6.0.0
