---
http_interactions:
  - request:
      method: post
      uri: https://api.zoomeye.org/user/login
      body:
        encoding: UTF-8
        string: '{"username":"<CENSORED>","password":"<CENSORED>"}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Cdn-Edge:
          - db73f2c,-
      body:
        encoding: UTF-8
        string: '{"access_token": "<CENSORED>"}'
    recorded_at: Wed, 16 Oct 2019 04:08:15 GMT
  - request:
      method: get
      uri: https://api.zoomeye.org/resources-info
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - JWT <CENSORED>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Etag:
          - '"fbdeea508a21ad89c7d1206a0b1a1def90a312fa"'
        X-Cdn-Edge:
          - db73f2c,-
      body:
        encoding: UTF-8
        string:
          '{"plan": "user", "resources": {"search": 9960, "stats": 100, "interval":
          "month"}}'
    recorded_at: Wed, 16 Oct 2019 04:08:15 GMT
recorded_with: VCR 5.0.0
